{{ $argyear :=  .Get "year"}}
{{ $.Scratch.Set "total" 0 }}

{{ range $year, $yearstats := .Site.Data.books.books }}
    {{ if eq $argyear $year }}
        <table style="">
        {{ range $category, $value := $yearstats }}
            {{ if ne $value.in 0 }}
            <tr><td style="padding: 0 25px 0 0"><strong>{{ $value.title }}</strong></td><td>{{ $value.in }}€</td></tr>
                {{ $.Scratch.Set "total" (add ($.Scratch.Get "total") $value.in) }}
            {{ end }}
        {{ end }}
        <tr style="border-top: 1px solid black;"><td><strong>Total</strong></td><td><strong>{{ math.Round ($.Scratch.Get "total") }}€</strong></td></tr>
        </table>
    {{ end }}
{{ end }}
